<h2 class="page-header"><%= director.name %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/directors/<%= director.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm', { url: `/directors/${director.id}` }) %>
</div>
<% if (movieReviewsByDirector.length > 0) { %>
<h2 class="page-header">Movie Reviews by this Director</h2>
<% movieReviewsByDirector.forEach(movie => { %>
<a href="/movies/<%= movie.id %>">
  <img height="150" width="100" src="<%= movie.posterImagePath %>" />
</a>
<% }) %> <% } %>
